---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2d39d6d4253ea35c67fdf1d6b563a7d5&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615322253,"sunrise":1615296030,"sunset":1615338029,"temp":66.56,"feels_like":53.17,"pressure":1008,"humidity":12,"dew_point":14.56,"uvi":3.12,"clouds":75,"visibility":10000,"wind_speed":13.8,"wind_deg":360,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1615322280,"precipitation":0},{"dt":1615322340,"precipitation":0},{"dt":1615322400,"precipitation":0},{"dt":1615322460,"precipitation":0},{"dt":1615322520,"precipitation":0},{"dt":1615322580,"precipitation":0},{"dt":1615322640,"precipitation":0},{"dt":1615322700,"precipitation":0},{"dt":1615322760,"precipitation":0},{"dt":1615322820,"precipitation":0},{"dt":1615322880,"precipitation":0},{"dt":1615322940,"precipitation":0},{"dt":1615323000,"precipitation":0},{"dt":1615323060,"precipitation":0},{"dt":1615323120,"precipitati[...]
