---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=ao42ffufkK46APYiYb3kdPVBRJGC7NqUWomNWvE-h8U&page=1&per_page=1&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=ao42ffufkK46APYiYb3kdPVBRJGC7NqUWomNWvE-h8U&page=966&per_page=1&query=denver>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=ao42ffufkK46APYiYb3kdPVBRJGC7NqUWomNWvE-h8U&page=2&per_page=1&query=denver>;
        rel="next"
      X-Total:
      - '966'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"81a2a763ffb4303e95d76fcba5af0890"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":966,"total_pages":966,"results":[{"id":"r82eni3j0bI","created_at":"2020-09-06T12:05:36-04:00","updated_at":"2021-03-09T15:16:15-05:00","promoted_at":null,"width":4862,"height":3646,"color":"#0c59c0","blur_hash":"LhC*9MtlR*V@KUazoekCIwWYaKa#","description":"Downtown
        Denver and Capitol Building","alt_description":"white and gold dome building","urls":{"raw":"https://images.unsplash.com/photo-1599408169542-620fc453382c?ixid=MnwyMTMwNjJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE1MzIzMjEw\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMTMwNjJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE1MzIzMjEw\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNjJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE1MzIzMjEw\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNjJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE1MzIzMjEw\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNjJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE1MzIzMjEw\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/r82eni3j0bI","html":"https://unsplash.com/photos/r82eni3j0bI","download":"https://unsplash.com/photos/r82eni3j0bI/download","download_location":"https://api.unsplash.com/photos/r82eni3j0bI/download?ixid=MnwyMTMwNjJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE1MzIzMjEw"},"categories":[],"likes":13,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"iReUjmhpLcw","updated_at":"2021-03-09T15:33:31-05:00","username":"andrewcoop","name":"Andrew
        Coop","first_name":"Andrew","last_name":"Coop","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Aurora,
        CO, USA","links":{"self":"https://api.unsplash.com/users/andrewcoop","html":"https://unsplash.com/@andrewcoop","photos":"https://api.unsplash.com/users/andrewcoop/photos","likes":"https://api.unsplash.com/users/andrewcoop/likes","portfolio":"https://api.unsplash.com/users/andrewcoop/portfolio","following":"https://api.unsplash.com/users/andrewcoop/following","followers":"https://api.unsplash.com/users/andrewcoop/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":0,"total_likes":28,"total_photos":130,"accepted_tos":true,"for_hire":true},"tags":[]}]}'
  recorded_at: Tue, 09 Mar 2021 20:53:30 GMT
recorded_with: VCR 6.0.0
